In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('0819_UkraineCombinedTweetsDeduped.csv')

In [4]:
data.head()

,Unnamed: 0,userid,username,acctdesc,location,following,followers,totaltweets,usercreatedts,tweetid,...,original_tweet_userid,original_tweet_username,in_reply_to_status_id,in_reply_to_user_id,in_reply_to_screen_name,is_quote_status,quoted_status_id,quoted_status_userid,quoted_status_username,extractedts
0,0,173212647,JoeMokolobetsi,Yeshua Hamashiach is THE answer | Romans 10:9-...,Afrika Borwa,219,197,4789,2010-07-31 19:09:22.000000,1560416252937617411,...,0,NaN,0,0,NaN,False,0,0,NaN,2022-08-19 08:07:26.836769
1,1,335041409,XclusivasPuebla,Somos el periódico #ExclusivasPuebla| Investi...,"Puebla, México",1419,6402,70267,2011-07-14 02:02:24.000000,1560416256179707904,...,0,NaN,0,0,NaN,False,0,0,NaN,2022-08-19 07:51:50.523048
2,2,1512400441103032323,ShelterAnimalUA,Shelter for abandoned dogs and cats. 1400 dogs...,Ukraine,782,109,1198,2022-04-08 12:02:47.000000,1560416257752666113,...,0,NaN,0,0,NaN,False,0,0,NaN,2022-08-19 05:12:06.194216
3,3,1356632630662430722,DogandCatHelpe1,Shelter for abandoned dogs and cats. 1400 dogs...,Ukraine,5,39,690,2021-02-02 15:57:12.000000,1560416257790382081,...,0,NaN,0,0,NaN,False,0,0,NaN,2022-08-19 11:22:26.824532
4,4,20297125,ElMananaOnline,Las mejores noticias de los dos Laredos y el m...,Nuevo Laredo,2269,17978,56188,2009-02-07 06:32:49.000000,1560416257937051648,...,0,NaN,0,0,NaN,False,0,0,NaN,2022-08-19 11:52:29.448634

In [9]:
data.shape

(47994, 29)

In [7]:
list(data.columns)

['Unnamed: 0',
 'userid',
 'username',
 'acctdesc',
 'location',
 'following',
 'followers',
 'totaltweets',
 'usercreatedts',
 'tweetid',
 'tweetcreatedts',
 'retweetcount',
 'text',
 'hashtags',
 'language',
 'coordinates',
 'favorite_count',
 'is_retweet',
 'original_tweet_id',
 'original_tweet_userid',
 'original_tweet_username',
 'in_reply_to_status_id',
 'in_reply_to_user_id',
 'in_reply_to_screen_name',
 'is_quote_status',
 'quoted_status_id',
 'quoted_status_userid',
 'quoted_status_username',
 'extractedts']

In [12]:
text = data['text']
text

0        Dear vaccine advocate\n\nDo take the COVID19 m...
1        #Mundo \n\nAl menos 6 muertos y 16 heridos en ...
2        Animal shelter Dogs and Cats, we need your hel...
3        Welcome to our shelter!\nLocated in Ukraine, K...
4        Tensión, debido a que #Rusia sigue en pie en l...
                               ...
47989    Everything as usual, just another russian gove...
47990                   @dosnostalgic twisted firestarter!
47991    La ruleta Ep. 7: #Ucrania: Presidente Zelensky...
47992    La ruleta Ep. 7: #Ucrania: Presidente Zelensky...
47993    When people say the US was in better shape whi...
Name: text, Length: 47994, dtype: object

In [13]:
hashtags = data['hashtags']
hashtags

0        [{'text': 'Pfizer', 'indices': [189, 196]}, {'...
1        [{'text': 'Mundo', 'indices': [0, 6]}, {'text'...
2        [{'text': 'Ukraine', 'indices': [189, 197]}, {...
3        [{'text': 'Ukraine', 'indices': [194, 202]}, {...
4        [{'text': 'Rusia', 'indices': [22, 28]}, {'tex...
                               ...
47989    [{'text': 'RussiaIsATerroristState', 'indices'...
47990                                                   []
47991           [{'text': 'Ucrania', 'indices': [17, 25]}]
47992           [{'text': 'Ucrania', 'indices': [17, 25]}]
47993    [{'text': 'Biden', 'indices': [151, 157]}, {'t...
Name: hashtags, Length: 47994, dtype: object